/Uebung_4/node_modules
/Uebung_3/node_modules
/Uebung_2/node_modules
/Uebung_5/pins.iml
/Uebung_5/mongodb-data/
/Uebung_5/node_modules/
/Uebung_5B/mongodb-data/
/Uebung_5B/node_modules/
/Uebung_5B/.idea/
