head, body {
    margin: 0;
    width: 100%;
    font-family: Roboto;
}

.container {

}

header {
    font-size: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    font-family: 'Pacifico', cursive;
}

.addImageButton {
    background-color: brown;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 20px;
}

.content {

    display: block;
    overflow: hidden;
    display: block;
    width: auto;
    margin: auto;
}

nav {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}


footer {
    width: 100%;
    float: right;
    border-top: 3px solid #000;
    border-top-color: orange;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Roboto;
    text-align: center;
}

img {
    display: inline-block;
    width: 100%;
    border-radius: 25px;
    box-shadow: 2px 2px 2px grey;
}


.img {
    position: relative;
}

.img-large {
    position: fixed;
    bottom: 20px;
    width: 25%;
    left: 40%;
    z-index: 10;
    overflow: hidden;
}


.likeButton {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    -webkit-filter: invert(100%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    transform: rotate(90deg);

}


.detailsButton {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    -webkit-filter: invert(100%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

@media only screen and (min-width: 480px) {
    .content {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 720px) {
    .content {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}


@media only screen and (min-width: 960px) {
    .content {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1200px) {
    .content {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media only screen and (min-width: 1280px) {
    .content {
        width: 1260px;
    }
}

