head, body {

    margin: 0;
}

.container {
    display: block;
    width: auto;
    margin: auto;
}

header {
    font-size: 50px;
    font-family: "Comic Sans MS";
    margin-left: 50px;
    margin-top: 20px;
}

.content {
    margin: 50px;
    display: inline-block;
}

nav {
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}

section {
    float: right;
}

footer {
    width: 100%;
    float: right;
    border-style: solid;
    border-width: 5px;
}

img {
    display: inline-block;
    width: 100%;
    border-radius: 25px;
    box-shadow: 2px 2px 2px grey;
}

.addImageButton {
    background-color: brown;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 25px;
}

@media only screen and (min-width: 480px) {
    .content {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 720px) {
    .content {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 960px) {
    .content {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1200px) {
    .content {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media only screen and (min-width: 1280px) {
    .content {
        width: 1260px;
    }
}

